@use "../../styles/partials/__variables" as *;
@use "../../styles/partials/__mixins" as *;

.cocktails-items__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    background-color: $s-gray;
    margin: 1rem 1rem;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);

    &:hover {
      border: 0.8px solid $s-black;
    }
    @include tablet {
      margin: 10px;
      width: 45%;
    }
    @include desktop {
      width: 35%;
    }
    @include bigdesktop {
      margin-top: 3rem;
      width: 29%;
    }
    @include biggestdesktop {
      width: 30%;
      margin: 1rem;
      display: flex;
      flex-direction: column;
    }
  }

  .link__cocktails {
    display: flex;
    cursor: pointer;
    text-decoration: none;
  }
.image__container {
    width: 100%;
    height: 12rem;
    background-color: $p-white;
    border-radius: 10px;
}
.cocktail__image {
    width: 99%;
    height: 100%;
    border-radius: 4px;
    background-color: $p-white;
    @include bigdesktop {
      width: 60%;
      margin-right: 0.5rem;
    }
    @include biggestdesktop {
      margin: 2rem 0.5rem;
    }
  }
  .cocktail__details {
    width: 100%;
   margin: 0;
   border-radius: 10px;
    @include biggestdesktop {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .cocktail__name {
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: $s-silver;
    margin: 0;
    padding: .2rem;
    @include biggestdesktop {
      font-size: 1.3rem;
    }
  }
  .cocktail__bornIn {
    margin: 0;
    color: $s-black;
    padding-bottom: .2rem;
    font-size: 0.7rem;
    background-color: $s-silver;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    @include biggestdesktop {
      font-size: 1.5rem;
      padding: 1rem;
    }
  }