$tablet-breakpoint: 768px;
$laptop-breakpoint: 1024px;
$desktop-breakpoint: 1280px;
$bigdesktop-breakpoint: 1440px;
$biggestdesktop-breakpoint: 2560px;

$p-black: #393939;
$s-black: #000000;
$p-blue: #5BACC3;
$s-blue: #87CEFA;
$p-green: #76A362;
$s-green: #B0D99C;
$p-pink: #DDA0DD;
$s-pink: #FFF0ED;
$p-yellow: #FFFF00;
$s-yellow: #FFDB5E;
$p-orange: #FF7F50;
$p-silver: #AFAFAF;
$s-silver: #E1E1E1;
$p-gray: #909090;
$s-gray: #F7F7F7;
$p-white:  #FAFAFA; 
$s-white: #FFF;
$error-color: #DB0F0F;