@use "../../styles/partials/__variables" as *;
@use "../../styles/partials/__mixins" as *;


.allcocktails__list {
    text-align: left;
    font-weight: 700;
    color: $p-silver;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    @include tablet {
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap;
      width: 95%;
      padding: 2rem 0rem 1rem 0rem;
    }
    @include desktop {
      width: 85%;
    }
    @include bigdesktop {
      width: 85%;
      padding: 1rem 0rem;
    }
    @include biggestdesktop {
      height: 60vh;
    }
  }