@use "../../styles/partials/__variables" as *;
@use "../../styles/partials/__mixins" as *;


.allcocktails__list {
    text-align: left;
    font-weight: 700;
    color: $p-silver;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    @include tablet {
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap;
      width: 95%;
      padding: 2rem 0rem 1rem 0rem;
    }
    @include laptop {
      padding-top: 0rem;
    }
    @include desktop {
      width: 100%;
      margin: 5rem 0.1rem;
    }
    @include bigdesktop {
      margin: 0rem 0.1rem;
    }
    @include biggestdesktop {
      margin: 5rem 8rem 5rem 0.1rem;
      width: 90%;
    }
  }