@use "../../styles/partials/__variables" as *;
@use "../../styles/partials/__mixins" as *;

.home-page__navbar {
    @include tablet {
        display: flex;
        align-items: center;
    }
    @include desktop {
        justify-content: space-between;
    }
}
.logo__container {
    display: flex;
    align-items: center;
    margin: 1.7rem;
}
.logo__image {
    width: 10vw;
    @include tablet {
    width: 4vw;
    }
}
.logo__title {
    font-size: 2rem;
    opacity: 70%;
    @include tablet {
    font-size: 3rem;
    font-weight: 300;
    
    }
}
